* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.outer {
    width: 600px;
    height: 600px;
    background-color: aqua;
}

.inner {
    height: 100px;
    width: 500px;
    font-size: large;
    padding-top: 30px;
    text-align: center;
}

.first {
    background-color: blueviolet;
}

.second {
    background-color: cornflowerblue;
}

.third {
    background-color: darksalmon;
}

.fourth {
    background-color: blanchedalmond;
}

.fifth {
    background-color: magenta;
}